{% extends 'app.html' %}

{% block title %}
	Dispute - Chat
{% endblock %}

{% block body %}
<br>
<div class="container mt-4">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			
			<div class="chat-image text-center">
				<img src="{{ url_for('static', filename='images/dispute.png') }}" width="250px">
			</div>

			<div class="chat">
				<div class="row chat-header">
					<div class="col-md-2 ch-element ch-button">
						<a href="./">
							<i class="fas fa-sign-out-alt"></i>
							Sign Out
						</a>
					</div>
					<div class="col-md-10 ch-element ch-text">
						Hey there {{ session.name }}! Join the dispute by typing below.
					</div>
				</div>
				<div class="chat-body">
					<div class="cb-chat">
						<div class="row">
							<div class="col-md-12" id="chat-messages">
								{% for message in messages %}
									<p id='chat-message'><span class='chat-name'>{{ message.name }}: </span><span class='chat-message'>{{ message.message }}</span></p>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row chat-typers">
					<div class="col-md-12" id="typers">
						<p id="is_typing">
							<span class="typing-block">block</span>
						</p>
					</div>
				</div>
				<div class="row chat-footer">
					<div class="col-md-10 cf-element cf-field">
						<input type="text" id="message" placeholder="Message" class="chat-input chat-input-field">
					</div>
					<div class="col-md-2 cf-element cf-button">
						<button id="sender" class="chat-input chat-input-button">
							Send
						</button>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		// Scroll to bottom of chat
		$(".cb-chat").scrollTop($(".cb-chat")[0].scrollHeight);

		// Get current server and connect to it
		url = window.location.href.replace('/chat','');
		var socket = io.connect(url);

		// On each connection
		socket.on('connect', function() {
			// Send connection data to server
			socket.emit('connection', '{{ session.name }}');
		});

		// Get connection response from server
		socket.on('connection-response', function(name) {
			// Log connection
			console.log(name + ' connected to dispute!');
		});

		// On chat form submission
		$("#sender").click(function() {

			// Get message information
			var message = $("#message").val();
			var sender = "{{ session.name }}"

			// Send message to server
			socket.emit('message', {name: sender, message: message});
			// Reset form to empty
			$("#message").val("");

		});

		// Retrieve message data
		socket.on('message-response', function(response) {

			// Append message to chat
			$("#chat-messages").append("<p id='chat-message'><span class='chat-name'>"+ response.name +": </span><span class='chat-message'>"+ response.message +"</span></p>");

		});

		// Identify if user is changing input field
		$("#message").on("input", function()  {

			var typer = "{{ session.name }}";
			var message_length = $(this).val().length;
			var typing;

			// Check if the user is typing
			if (message_length > 0) {

				typing = true;

			} else {

				typing = false;

			}

			// Send typing information to server
			socket.emit('typing', {name: typer, is_typing: typing});

		});

		// Retrieve typing information from server
		socket.on('typing-response', function(response) {

			// Make sure the user typing isn't you.
			if (response.name != "{{ session.name }}") {

				// Check if the user is typing or has stopped typing
				if (response.is_typing) {

					// Display who is typing
					$("#is_typing").html(response.name + ' is typing...');

				} else {

					// Remove who is typing if they have stopped
					$("#is_typing").html('<span class="typing-block">block</span>')

				}

			}

		});

	});
</script>

{% endblock %}